.navbar-brand-logo {
    height: 40px;
}

.bs-navbar-top {
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.05), inset 0 -0.7px 0 rgba(0, 0, 0, 0.1);
}

.bs-authreg-container {
    max-width: 400px;
}

.main-content {
    padding-top: 56px;
}

.bs-container {
    padding-top: 40px;
}


/* from asiator */


.main-content a {
    text-decoration: none;
    cursor: pointer;
    color: #072177;
}

.main-content a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #002fca;
}

.main-content a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #566492;
}

.main-content-app {
    padding-bottom: 60px;
}

.main-content {
    padding-top: 56px;
}

.media > img {
    width: 180px;
    height: 130px;
}

.bs-post-view-top-panel {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
}

.bs-post-view-header {
    overflow: hidden;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 240%;
    font-weight: 600;
}



/*
@include media-breakpoint-down(md) {

    .bs-post-top-panel {
        text-align: center;
        margin-bottom: 15px;
    }

    .bs-post-title {
        text-align: center;
        margin-top: 20px;
    }

    .bs-post-thumbnail-row {
        text-align: center;
    }

}
*/
.Search__button {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.25rem 0.5rem;
    color: #6c757d;
    background-color: transparent;
}

.Search__input {
    padding-right: 2rem;
}

.Search__container {
    position: relative;
}

.Header__search {
    padding: .5rem 0;
}

/*
@include media-breakpoint-up(lg) {
    .Header__search {
        padding: 0 .5rem;
    }
}
*/
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05));
}

.bs-authreg-container {
    max-width: 400px;
}

.bs-container {
    padding-top: 40px;
}

.jumbotron {
    margin-bottom: 0;
}

.bs-navbar-profile {
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}

/*
@include media-breakpoint-down(sm) {
    .main-top-nav-img {
        width: 100%;
        height: 350px;
    }

    .main-top-nav-img-1 {
        width: 100%;
        height: 350px;
    }

    .bs-post-thumbnail-1 {
        width: 100%;
        height: 350px;
    }

    .single-post-widget-row {

    }
}*/
/*
@include media-breakpoint-up(md) {
    .main-top-nav-img {
        width: 100%;
        height: 250px;
    }

    .main-top-nav-img-1 {
        width: 100%;
        height: 250px;
    }

    .bs-post-thumbnail-1 {
        width: 100%;
        height: 200px;
    }

    .single-post-widget-row {

    }
}
*/
/*
@include media-breakpoint-up(lg) {
    .main-top-nav-img {
        width: 100%;
        height: 180px;
    }
    .main-top-nav-img-1 {
        width: 100%;
        height: 350px;
    }
    .bs-post-thumbnail-1 {
        width: 100%;
        height: 100px;
    }
    .single-post-widget-row {
        height: 130px;
    }
}
*/
.widget-div {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.posts-widget {
    display: none;
}


.media-content {
    padding: 5px 0px;
    min-height: 35px;
}

.media:first-child {
    padding-top: 15px;
}

.media-panel {

}

.comment-icon {
    padding: 2px;
    margin-left: 7px;
}

.comment-menu {
    display: inline;
    padding: 2px;
}

.media-create-comment {
    display: none;
}

.media-container {
}


.front-footer {
    /*background: linear-gradient(90deg, #0a1926, #53384e);
    color: #FFFC;*/
}
.front-footer {
 /*   position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 60px;
   line-height: 60px;
    background-color: #f5f5f5;
}

.bg-dark {
    /*background: linear-gradient(90deg, #0a1926, #53384e);*/
}

.branding-nav-items {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.navbar-nav {
    padding-top: 7px;
    text-transform: uppercase;
    font-size: 14px;
}



.brand-top-name {
    color: #d2c7d2 !important;
}

.card {
    border-radius: 0.5em;
}

.card-body {
    background-color: transparent;
    /*background-image: linear-gradient(130deg,#6B425B 0%,#100C25 100%);*/
    border-radius: 0.5em;
}

.card-title {
    /*color: #FFF;*/
    font-size: 20px;
    font-weight: 600;
}


.card-text {
    /*color: #BFBFBF;*/
    font-size: 16px;
}

.background-overlay {
    background-image: url(/img/front-background.jpg);
    /*opacity: .3;*/
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
}

.bs-authreg-container {
    background: aliceblue;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    opacity: 0.9;
    padding: 20px 25px 5px 25px;
}

/* POST VIEW */
.bs-post-view-container {
    max-width: 800px;
    margin: auto;
}

.bs-post-view-content img {
    display: block;
    max-width: 100%;
    padding-top: 0.6em;
    padding-bottom: 1em;
}

.bs-post-view-top-panel {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
}

.bs-post-view-header {
    overflow: hidden;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 240%;
    font-weight: 600;
}

.bs-post-view-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    height: 100%;
    overflow: hidden;
    hyphens: none;
    font-family: "Open Sans", Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    font-size: 120%;
    line-height: 150%;
}

.bs-post-view-content p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0 0 1.5rem 0;
    margin-bottom: 1.5em;
}

.bs-post-view-content h1, h2, h3, h4, h5 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: inherit;
}

.bs-post-view-content h2, h3, h4, h5 {
    margin-bottom: 0.5rem;
}

.bs-post-view-content h1 {
    margin: 2.5rem 0 .3rem;
    font-size: 160%;
}

