<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}"/>
	<link rel="stylesheet" media="screen" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" media="screen" href="/webjars/font-awesome/css/all.min.css">
</th:block>

</html>
