<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<th:block th:fragment="text(label, fieldName, placeholder)">
	<div th:with="valid=${!#fields.hasErrors(fieldName)}" class="form-group">
		<label th:attr="for=${fieldName}" th:text="${label}">stub label</label>
		<input
			type="text"
			th:field=*{__${fieldName}__}
			th:placeholder=${placeholder}
			th:attr="id=${fieldName},name=${fieldName}"
			th:class="form-control"
			th:errorclass="is-invalid"
		>
		<div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}" class="invalid-feedback">Field error
		</div>
	</div>
</th:block>
</body>
</html>
