<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
    <div th:fragment="text(label, fieldName, placeholder, iid, iname, iclass)" class="form-group">
        <label th:attr="for=${iid}" th:text="${label}">stub label</label>
        <input
            type="text"
            th:field=*{__${fieldName}__}
            th:placeholder=${placeholder}
            name="${iname}"
            th:attr="id=${iid},class=${iclass}"
        >
        <div th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}">Field error</div>
    </div>
</body>
</html>
