<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>


        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">Example info</span>
                    <span class="info-box-number" th:text="${APP_EXAMPLE_INFO + ' '} ">
                </span>
                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>
