<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="BSC_HEIGHT" type="java.lang.Long"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">BSC height</span>
                    <span class="info-box-number" th:text="${BSC_HEIGHT + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cubes"></i></span>
                <!--/*@thymesVar id="ETH_HEIGHT" type="java.lang.Long"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">ETH height</span>
                    <span class="info-box-number" th:text="${ETH_HEIGHT + ' '} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-th"></i></span>
                <!--/*@thymesVar id="BSC_SYNC_PROGRESS" type="java.lang.Long"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">BSC blocks to sync</span>
                    <span class="info-box-number" th:text="${BSC_SYNC_PROGRESS + ' blocks needs to sync'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-th"></i></span>
                <!--/*@thymesVar id="ETH_SYNC_PROGRESS" type="java.lang.Long"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">ETH blocks to sync</span>
                    <span class="info-box-number" th:text="${ETH_SYNC_PROGRESS + ' blocks needs to sync'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-coins"></i></span>
                <!--/*@thymesVar id="BSC_FREE_TOKENS" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">BSC swap pull</span>
                    <span class="info-box-number" th:text="${BSC_FREE_TOKENS.getFormattedString(18, 3) + ' 10Set'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-coins"></i></span>
                <!--/*@thymesVar id="ETH_FREE_TOKENS" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">ETH swap pull</span>
                    <span class="info-box-number" th:text="${ETH_FREE_TOKENS.getFormattedString(18, 3) + ' 10Set'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-coins"></i></span>
                <!--/*@thymesVar id="BSC_ALL_TOKENS" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">BSC all tokens</span>
                    <span class="info-box-number" th:text="${BSC_ALL_TOKENS.getFormattedString(18, 3) + ' 10Set'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-coins"></i></i></span>
                <!--/*@thymesVar id="ETH_ALL_TOKENS" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">ETH all tokens</span>
                    <span class="info-box-number" th:text="${ETH_ALL_TOKENS.getFormattedString(18, 3) + ' 10Set'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-coins"></i></span>
                <!--/*@thymesVar id="BSC_INVOKER_BALANCE" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">BSC invoker balance</span>
                    <span class="info-box-number" th:text="${BSC_INVOKER_BALANCE.getFormattedString(18, 3) + ' BNB'} ">
                </span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-coins"></i></i></span>
                <!--/*@thymesVar id="ETH_INVOKER_BALANCE" type="com.blockwit.bwf.model.chain.fields.IChainNumber"*/-->
                <div class="info-box-content">
                    <span class="info-box-text">ETH invoker balance</span>
                    <span class="info-box-number" th:text="${ETH_INVOKER_BALANCE.getFormattedString(18, 3) + ' ETH'} ">
                </span>
                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>
