<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">IP login attempts</div>
<div layout:fragment="cardBody">
	<!--/*@thymesVar id="prevPageUrl" type="java.lang.String"*/-->
	<!--/*@thymesVar id="nextPageUrl" type="java.lang.String"*/-->
	<th:block
		th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('ip-login-attempts', ${prevPageUrl}, ${nextPageUrl}, ~{ :: .tl-inner-headers}, ~{ :: .tl-inner-fields})">
		<tr class="tl-inner-headers">
			<th>id</th>
			<th>address</th>
			<th>attempts count</th>
			<th>last attempt</th>
			<th></th>
		</tr>
		<!--/*@thymesVar id="pageContent" type="java.util.List<com.blockwit.bwf.model.mapping.IpLoginAttemptView>"*/-->
		<!--/*@thymesVar id="target" type="com.blockwit.bwf.model.mapping.IpLoginAttemptView"*/-->
		<th:block class="tl-inner-fields" th:each="target : ${pageContent}">
			<tr class="tl-inner-row">
				<td th:text="${target.getId()}"></td>
				<td th:text="${target.getAddr()}"></td>
				<td th:text="${target.getBadAttemptsCount()}"></td>
				<td th:text="${target.getLastBadAttempt()}"></td>
				<td
						th:insert="panel/fragments/toolbars :: tableLineToolbar ('Ip login attempts toolbar', ~{ :: .tl-inner-button-group})">
					<th:block class="tl-inner-button-group">
						<th:block class="tl-inner-button-group">
							<a sec:authorize="hasAuthority('ADMIN')"
							   th:replace="panel/fragments/toolbars :: tableLineToolbarBtn (${'/panel/ip-login-attempts/ip-login-attempt/' + target.getId() + '/delete'},'Delete','fas fa-trash-alt')"></a>
						</th:block>
					</th:block>
				</td>
			</tr>
		</th:block>
	</th:block>
</div>
</body>
</html>

