<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">Swaps</div>
<div layout:fragment="cardBody">
	<!--/*@thymesVar id="prevPageUrl" type="java.lang.String"*/-->
	<!--/*@thymesVar id="nextPageUrl" type="java.lang.String"*/-->
	<th:block
		th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('swaps', ${prevPageUrl}, ${nextPageUrl}, ~{ :: .tl-inner-headers}, ~{ :: .tl-inner-fields})">
		<tr class="tl-inner-headers">
			<th>id</th>
			<th class="field_status">status</th>
			<th>address</th>
			<th>amount</th>
			<th>direction</th>
			<th>start tx hash</th>
			<th>finalize tx hash</th>
			<th class="descr_field">log</th>
			<th class="descr_field">prev log</th>
			<th>created</th>
			<th>updated</th>
			<th></th>
		</tr>
		<!--/*@thymesVar id="pageContent" type="java.util.List<com.blockwit.bwf.model.mapping.SwapView>"*/-->
		<!--/*@thymesVar id="target" type="com.blockwit.bwf.model.mapping.SwapView"*/-->
		<th:block class="tl-inner-fields" th:each="target : ${pageContent}">
			<tr class="tl-inner-row">
				<td th:text="${target.getId()}"></td>
				<td class="field_status"><div th:replace="common/fragments/badges :: swapStatusHR (${target.getStatus()})"></div></td>
				<td><div th:replace="common/fragments/badges :: addressHR (${target.getAddress()}, ${target.getAddressLink()})"></div></td>
				<td><div th:replace="common/fragments/badges :: amountTokenHR (${target.getAmount()})"></div></td>
				<td><div th:replace="common/fragments/badges :: directionHR (${target.getDirection()})"></div></td>
				<td><div th:replace="common/fragments/badges :: txHashHR (${target.getStartTxHash()}, ${target.getStartTxHashLink()})"></div></td>
				<td><div th:replace="common/fragments/badges :: txHashHR (${target.getFinalizeTxHash()}, ${target.getFinalizeTxHashLink()})"></div></td>
				<td class="descr_field" th:text="${target.getLog()}"></td>
				<td class="descr_field" th:text="${target.getPrevLog()}"></td>
				<td th:text="${target.getCreateTime()}"></td>
				<td th:text="${target.getUpdateTime()}"></td>
				<td
						th:insert="panel/fragments/toolbars :: tableLineToolbar ('Swap toolbar', ~{ :: .tl-inner-button-group})">
					<th:block class="tl-inner-button-group">
						<th:block
								th:if="${target.getStatus() == 'SWAP_OPPOSITE_CHAIN_TX_SENDING_FAILED'}">
							<a sec:authorize="hasAuthority('ADMIN')"
							   th:replace="panel/fragments/toolbars :: tableLineToolbarBtn (${'/panel/swaps/swap/' + target.getId() + '/retry-send'},'Retry sending','fas fa-retweet')"></a>
						</th:block>
					</th:block>
				</td>
			</tr>
		</th:block>
	</th:block>
</div>
</body>
</html>

