<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<nav class="mt-2" th:fragment="menu">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<li sec:authorize="isAuthenticated()" th:replace="panel/fragments/sidebar/item :: item(info = 'dashboard', targetUrl = '/panel', menuItemIcon = 'fas fa-tachometer-alt')"/>
		<li sec:authorize="isAuthenticated()" th:replace="panel/fragments/sidebar/item :: item(info = 'account', targetUrl = '/panel/profile', menuItemIcon = 'fa fa-user')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/delimeterLine :: delimeterLine"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/delimeterItem :: item(info = 'administration')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'tasks', targetUrl = '/panel/tasks', menuItemIcon = 'fas fa-stream')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'accounts', targetUrl = '/panel/accounts', menuItemIcon = 'fa fa-users')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'IP login attempts', targetUrl = '/panel/ip-login-attempts', menuItemIcon = 'fas fa-stream')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'permissions', targetUrl = '/panel/permissions', menuItemIcon = 'fa fa-key')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'roles', targetUrl = '/panel/roles', menuItemIcon = 'fa fa-user-lock')"/>
		<li sec:authorize="hasAuthority('ADMIN')" th:replace="panel/fragments/sidebar/item :: item(info = 'options', targetUrl = '/panel/options', menuItemIcon = 'fa fa-cog')"/>
	</ul>
</nav>

</body>
</html>
