<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="/panel/blocks/header"></div>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="/panel/blocks/navbar/navbar"></div>
    <div th:replace="/panel/blocks/sidebar/sidebar"></div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">

                Панель администратора

            </div>
        </section>
    </div>

    <div th:replace="/panel/blocks/footer"></div>
</div>
<div th:replace="/panel/blocks/scripts"></div>
</body>

</html>
