<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="/panel/blocks/header"></div>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="/panel/blocks/navbar/navbar"></div>
    <div th:replace="/panel/blocks/sidebar/sidebar"></div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">profile</h3>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>login</b> <a class="float-right" th:text="${authAccount.getLogin()}"></a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>email</b> <a class="float-right" th:text="${authAccount.getEmail()}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
    </div>

    <div th:replace="/panel/blocks/footer"></div>
</div>
<div th:replace="/panel/blocks/scripts"></div>
</body>

</html>
