<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="/panel/blocks/header"></div>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="/panel/blocks/navbar/navbar"></div>
    <div th:replace="/panel/blocks/sidebar/sidebar"></div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">roles</h3>
                            </div>
                            <div class="card-body">

                                <div classes="row">
                                    <div classes="col-12">
                                        <div class="btn-group float-right mb-3 admin-options-table-pag-ctrl">
                                            <a th:if="${prevPageUrl}" th:href="${prevPageUrl}" class="btn btn-outline-info pagination-control-prev">prev</a>
                                            <a th:if="${nextPageUrl}" th:href="${nextPageUrl}" class="btn btn-outline-info pagination-control-next">next</a>
                                        </div>
                                    </div>
                                </div>

                                <div classes="row">
                                    <div classes="col-12">

                                        <table id="admin-options-table" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>название</th>
                                                <th>описание</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:each="target : ${pageContent}">
                                                <tr>
                                                    <td th:text="${target.getId()}"></td>
                                                    <td th:text="${target.getName()}"></td>
                                                    <td></td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>id</th>
                                                <th>название</th>
                                                <th>описание</th>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
    </div>

    <div th:replace="/panel/blocks/footer"></div>
</div>
<div th:replace="/panel/blocks/scripts"></div>
</body>

</html>
