<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Exmaple info</h5>
                        <!--/*@thymesVar id="APP_EXAMPLE_INFO" type="java.lang.String"*/-->
                        <p class="card-text" th:text="${APP_EXAMPLE_INFO}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
