##############################################################################################
#                                                                                            #
#                            Common properties                                               #
#                                                                                            #
##############################################################################################

server.port = 8081
logging.file.name=/opt/bwf/logs/bwf.log

##############################################################################################
#                                                                                            #
#                            Database properties                                             #
#                                                                                            #
##############################################################################################
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://dbHost:dbPort/dbName?useUnicode=yes&characterEncoding=UTF-8&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
spring.datasource.username=dbUser
spring.datasource.password=dbPassword

##############################################################################################
#                                                                                            #
#                            Web-service properties                                          #
#                                                                                            #
##############################################################################################
verification.link.pattern = "http://%host%:%port%/app/register/approve/%account.login%/%account.confirmCode%"

recoeverypassword.link.pattern = "http://%host%:%port%/app/forgotpassword/setpassword/%account.login%/%account.confirmCode%"



