<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">Create new account</div>
<div layout:fragment="cardBody">

    <!--/*@thymesVar id="newAccountInternal" type="com.blockwit.bwf.form.NewAccountInternal"*/-->
    <form th:action="@{/panel/accounts/create}" method="POST" class="form-vertical" role="form"
          th:object="${newAccountInternal}">
        <div class="form-group" id="login_field">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" th:value="*{login}" minlength="3" maxlength="50"
                   required="true"
                   class="form-control">
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</td>
        </div>
        <div class="form-group" id="email_field">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:value="*{email}" class="form-control">
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
        </div>
        <div class="form-group" id="password_field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
        </div>
        <div class="form-group" id="repassword_field">
            <label for="repassword">Retype password</label>
            <input type="password" id="repassword" name="repassword" class="form-control">
            <td th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Retype password error</td>
        </div>
        <div class="form-group mt-5">
            <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
        </div>
    </form>

</div>
</body>
</html>

