<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">account roles</div>
<div layout:fragment="cardBody">
	<!--/*@thymesVar id="targetAccount" type="com.blockwit.bwf.model.account.Account"*/-->
	<th:block th:replace="panel/fragments/roles :: roles(${targetAccount.getRoles()})"></th:block>
</div>
</body>
</html>
