<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">options</div>
<div layout:fragment="cardBody">
    <!--/*@thymesVar id="prevPageUrl" type="java.lang.String"*/-->
    <!--/*@thymesVar id="nextPageUrl" type="java.lang.String"*/-->
    <th:block
            th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('options', ${prevPageUrl}, ${nextPageUrl}, ~{ :: .tl-inner-headers}, ~{ :: .tl-inner-fields})">
        <tr class="tl-inner-headers">
            <th>id</th>
            <th class="descr_field">name</th>
            <th class="descr_field">descriptions</th>
            <th class="descr_field">type</th>
            <th class="descr_field">value</th>
            <th></th>
        </tr>
        <!--/*@thymesVar id="pageContent" type="java.util.List<com.blockwit.bwf.model.Option>"*/-->
        <!--/*@thymesVar id="target" type="com.blockwit.bwf.model.Option"*/-->
        <th:block class="tl-inner-fields" th:each="target : ${pageContent}">
            <tr class="tl-inner-row">
                <td th:text="${target.getId()}"></td>
                <td class="descr_field" th:text="${target.getName()}"></td>
                <td class="descr_field" th:text="${target.getDescr()}"></td>
                <td class="descr_field" th:text="${target.getType()}"></td>
                <td class="descr_field" th:text="${target.getValue()}"></td>
                <td
                        th:insert="panel/fragments/toolbars :: tableLineToolbar ('Options toolbar', ~{ :: .tl-inner-button-group})">
                    <th:block class="tl-inner-button-group">
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:replace="panel/fragments/toolbars :: tableLineToolbarBtn (${'/panel/options/option/' + target.getId() + '/edit'},'Edit option','fas fa-edit')"></a>
                    </th:block>
                </td>
            </tr>
        </th:block>
    </th:block>
</div>
</body>
</html>
