<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">
	<div class="container bs-authreg-container">
		<h2>Поздравляем!</h2>
		<h4 class="mb-4 mt-4">Вы пароль успешно изменен!</h4>
		<p>Войдите и Вы сможете продолжить работу на платформе.</p>
		<p><a class="btn btn-outline-primary" href="/app/login">Войти</a></p>
	</div>
</div>
</body>
</html>




