<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<div th:replace="/front/fragments/header :: header"></div>
</head>
<body>

<div th:replace="/front/fragments/navbar/navbar :: navbar"></div>

<main role="main" class="main-content">
	<div class="container bs-container">

		<div class="container bs-authreg-container">
			<h2>Восстановление пароля!</h2>
			<h4 class="mb-4 mt-4">Email успешно подтвержден!</h4>
			<p>Придумайте себе новый пароль</p>

			<form th:action="@{/app/forgotpassword/setpassword}" method="POST" class="form-vertical" role="form"
						th:object="${forgotPassword}">
				<input type="hidden" id="code" name="code" th:value="*{code}" required="true" class="form-control">
				<div class="form-group" id="login_field">
					<label for="login">Login</label>
					<input type="text" id="login" name="login" th:value="*{login}" class="form-control" readonly>
				</div>
				<div class="form-group" id="password_field">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
				</div>
				<div class="form-group" id="repassword_field">
					<label for="repassword">Retype password</label>
					<input type="password" id="repassword" name="repassword" class="form-control">
					<td th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Retype password error</td>
				</div>
				<div class="form-group mt-5">
					<button type="submit" class="btn btn-outline-primary btn-block">Отправить</button>
				</div>
			</form>
			<p class="text-secondary mt-5">Уже имеете аккаунт? <a href="/app/login">Войти</a></p>
		</div>

	</div>
</main>

<div th:replace="/front/fragments/footer :: footer"></div>
<div th:replace="/front/fragments/scripts :: scripts"></div>

</body>
</html>



