<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">
	<div class="container bs-authreg-container">
		<h2>Шаг 2 из 3</h2>
		<h4 class="mb-4 mt-4">Почти готово</h4>
		<p>Для продолжения необходимо пройти по ссылке, которую мы отправили Вам на email.</p>
		<p class="mb-5">Это необходимо чтобы проверить, что почта действительно сущестует.</p>
		<p class="text-secondary mt-5">
			Хотите начать регистрацию заново?   <a href="/app/registration/new">Регистрация</a>
		</p>
	</div>
</div>
</body>
</html>



