<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<body>

<th:block th:fragment="pagination(page, url)" th:with="currentPageNumber=${page.getNumber()}, totalPages=${page.getTotalPages()}">
	<div th:if="${totalPages > 0}" class="btn-toolbar justify-content-center">
		<div class="btn-group btn-group-sm mr-2">
			<button th:if="${currentPageNumber < 2}" type="button" disabled class="btn btn-outline-secondary" style="min-width: 75px">Previous</button>
			<a th:unless="${currentPageNumber < 2}" th:href="${url.arg(0, currentPageNumber - 1).build()}" class="btn btn-outline-secondary" style="min-width: 75px">Previous</a>
		</div>
		<div th:each="pageNumber: ${#numbers.sequence(1, totalPages)}" class="btn-group btn-group-sm mr-2">
			<th:block th:if="${pageNumber == 1 || pageNumber == totalPages || (pageNumber > currentPageNumber - 4 && pageNumber < currentPageNumber + 4)}">
				<button th:if="${pageNumber == currentPageNumber}" th:text="${pageNumber}" type="button" class="btn btn-outline-secondary" disabled></button>
				<a th:unless="${pageNumber == currentPageNumber}" th:text="${pageNumber}" th:href="${url.arg(0, pageNumber).build()}" class="btn btn-outline-secondary"></a>
			</th:block>
		</div>
		<div class="btn-group btn-group-sm">
			<button th:if="${currentPageNumber >= totalPages}" type="button" disabled class="btn btn-outline-secondary" style="min-width: 75px">Next</button>
			<a th:unless="${currentPageNumber >= totalPages}" th:href="${url.arg(0, currentPageNumber + 1).build()}" class="btn btn-outline-secondary" style="min-width: 75px">Next</a>
		</div>
	</div>
</th:block>

</body>
</html>
