<!DOCTYPE html>
<html
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/main}"
	lang="ru"
>
<head>
	<title>New Post | BlockWit</title>
	<style>
		/* stylelint-disable-next-line selector-class-pattern */
		.ck-editor__editable_inline {
			min-height: 400px;
		}
	</style>
</head>
<body>

<div layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col py-5">
				<h1 class="h4">New Post</h1>
				<form th:action="${#mvc.url('PC#processCreatePost').build()}" th:object="${postDTO}" method="POST">
					<div class="form-group mt-3">
						<input th:field="*{title}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Title">
						<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="invalid-feedback"></div>
					</div>
					<div class="form-group">
						<textarea th:field="*{body}" th:errorclass="is-invalid" id="editor" class="form-control"></textarea>
						<div th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="invalid-feedback"></div>
					</div>
					<button type="submit" class="btn btn-outline-secondary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script layout:fragment="scripts">
	$('#editor').each((index, element) => {
		ClassicEditor
			.create(element)
			.then(editor => {
				window.editor = editor;
			})
			.catch(error => {
				console.error('There was a problem initializing the editor.', error);
			});
	});
</script>

</body>
</html>
