<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container bs-authreg-container">
        <h2>Congratulations!</h2>
        <h4 class="mb-4 mt-4">Password successfully changed!</h4>
        <p>You should login with new password before continue.</p>
        <p><a class="btn btn-outline-primary" href="/app/login">Login</a></p>
    </div>
</div>
</body>
</html>




