<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<body>

<th:block th:fragment="badge (badgeType, msg)">
    <small th:class="'badge badge-' + ${badgeType}" th:text="${msg}"></small>
</th:block>

<th:block th:fragment="taskStatusHR (status)">
    <!--/*@thymesVar id="status" type="java.lang.String"*/-->
    <th:block th:if="${status == 'STS_RUNNING'}">
        <div th:replace="common/fragments/badges :: badge ('success', 'running')"/>
    </th:block>
    <th:block th:if="${status == 'STS_STOPPED'}">
        <div th:replace="common/fragments/badges :: badge ('secondary', 'stopped')"/>
    </th:block>
    <th:block th:if="${status == 'STS_PREPARING_STOP'}">
        <div th:replace="common/fragments/badges :: badge ('warning', 'preapring for stop')"/>
    </th:block>
    <th:block th:if="${status == 'STS_PREPARING_RUN'}">
        <div th:replace="common/fragments/badges :: badge ('warning', 'preparing for run')"/>
    </th:block>
</th:block>

<th:block th:fragment="notificationStatusHR (status)">
    <!--/*@thymesVar id="status" type="com.blockwit.bwf.model.notifications.NotificationStatus"*/-->
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.NotificationStatus).WAIT_FOR_PREPARE}">
        <div th:replace="common/fragments/badges :: badge ('secondary', 'wait for prepare')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.NotificationStatus).WAIT_FOR_SENDING}">
        <div th:replace="common/fragments/badges :: badge ('primary', 'wait for sending')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.NotificationStatus).SEND_IN_PROGRESS}">
        <div th:replace="common/fragments/badges :: badge ('warning', 'sending')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.NotificationStatus).SENT}">
        <div th:replace="common/fragments/badges :: badge ('success', 'sent')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.NotificationStatus).FAIL}">
        <div th:replace="common/fragments/badges :: badge ('danger', 'fail')"/>
    </th:block>
</th:block>

<th:block th:fragment="notifyExecStatusHR (status)">
    <!--/*@thymesVar id="status" type="com.blockwit.bwf.model.notifications.ExecutorNotificationStateStatus"*/-->
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.ExecutorNotificationStateStatus).SENT}">
        <div th:replace="common/fragments/badges :: badge ('success', 'sent')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.ExecutorNotificationStateStatus).WAIT_FOR_SENDING}">
        <div th:replace="common/fragments/badges :: badge ('secondary', 'wait for sending')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.ExecutorNotificationStateStatus).FAIL}">
        <div th:replace="common/fragments/badges :: badge ('danger', 'fail')"/>
    </th:block>
    <th:block th:if="${status == T(com.blockwit.bwf.model.notifications.ExecutorNotificationStateStatus).SENDING_IN_PROGRESS}">
        <div th:replace="common/fragments/badges :: badge ('warning', 'sending')"/>
    </th:block>
</th:block>

</body>
</html>

