<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>

<!--/*@thymesVar id="account" type="com.blockwit.bwf.model.account.Account""*/-->
<div layout:fragment="cardTitle">Add role to account [(${account.getLogin()})]</div>
<div layout:fragment="cardBody">

    <!--/*@thymesVar id="addRoleToAccount" type="com.blockwit.bwf.form.AddRoleToAccount"*/-->
    <form th:action="${'/panel/accounts/account/' + account.getId() + '/roles/add'}" method="POST" class="form-vertical" role="form"
          th:object="${addRoleToAccount}">
        <div class="form-group" id="roleName_field">
            <label for="roleName">Role</label>
            <!--/*@thymesVar id="roles" type="java.util.List<com.blockwit.bwf.model.Role>"*/-->
            <select th:field="*{roleName}" class="form-control" required="true" id="roleName" name="roleName">
                <option th:each="role : ${roles}"
                        th:value="${role.getName()}"
                        th:text="${role.getName()}"
                ></option>
            </select>
            <td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Role name error</td>
        </div>
        <div class="form-group mt-5">
            <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
        </div>
    </form>

</div>
</body>
</html>

