<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>

<th:block th:fragment="roles(rolesList)" th:insert="panel/fragments/roles :: rolesPagebale(${rolesList}, null, null)">
</th:block>

<th:block th:fragment="rolesPagebale(rolesList, prevPageUrl, nextPageUrl)">
    <th:block
            th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('roles', ${prevPageUrl}, ${nextPageUrl}, ~{ :: .tl-inner-headers-roles}, ~{ :: .tl-inner-fields-roles})">
        <th:block class="tl-inner-headers-roles">
            <tr>
                <th>id</th>
                <th>name</th>
                <th></th>
            </tr>
        </th:block>
        <!--/*@thymesVar id="rolesList" type="java.util.List<com.blockwit.bwf.model.Role>"*/-->
        <!--/*@thymesVar id="target" type="com.blockwit.bwf.model.Role"*/-->
        <th:block class="tl-inner-fields-roles" th:each="target : ${rolesList}">
            <tr>
                <td th:text="${target.getId()}"></td>
                <td th:text="${target.getName()}"></td>
                <td
                        th:insert="panel/fragments/toolbars :: tableLineToolbar ('Options toolbar', ~{ :: .tl-inner-button-group})">
                    <th:block class="tl-inner-button-group">
                        <a
                                th:replace="panel/fragments/toolbars :: tableLineToolbarBtn (${'/panel/roles/role/' + target.getId() + '/permissions'},'Permissions','fa fa-key')"></a>
                    </th:block>
                </td>
            </tr>
        </th:block>
    </th:block>
</th:block>

</body>
</html>
