<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="/front/blocks/head"></div>
</head>
<body>

<div th:replace="/front/blocks/navbar/navbar :: navbar"></div>

<main role="main" class="main-content">
    <div class="container bs-container">
        <div class="container bs-authreg-container">
            <h2 class="mb-4">Войти</h2>

            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <p class="mb-5">Мы рады что Вы присоединились к сообществу</p>

            <form name="f" th:action="@{/app/login}" method="POST" class="form-vertical" role="form">
                <div class="form-group" id="username_field">
                    <label for="username">Логин или email</label>
                    <input type="text" id="username" name="username" value="" minlength="3" maxlength="50"
                           required="true"
                           class="form-control">
                </div>
                <div class="form-group" id="password_field">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" value="" minlength="8" maxlength="50"
                           required="true"
                           class="form-control">
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-outline-primary btn-block"> Войти</button>
                </div>
            </form>
            <p class="text-secondary mt-5">
                Все еще нет аккаунта? <a href="/app/register/reg-step-1"> Зарегистрироваться</a>
            </p>
            <p>Забыли пароль? <a href="/app/forgotpassword">Восстановить.</a></p>
        </div>
    </div>
</main>

<div th:replace="/front/blocks/footer :: footer"></div>
<div th:replace="/front/blocks/scripts"></div>

</body>
</html>



