<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="/front/blocks/head"></div>
</head>
<body>

<div th:replace="/front/blocks/navbar/navbar :: navbar"></div>

<main role="main" class="main-content">
    <div class="container bs-container">
        <div class="container bs-authreg-container">
            <h2>Шаг 2 из 3</h2>
            <h4 class="mb-4 mt-4">Почти готово</h4>
            <p>Для продолжения необходимо пройти по ссылке, которую мы отправили Вам на email.</p>
            <p class="mb-5">Это необходимо чтобы проверить, что почта действительно сущестует.</p>
            <p class="text-secondary mt-5">
                Хотите начать регистрацию заново?   <a href="/app/registration/new">Регистрация</a>
            </p>
        </div>
    </div>
</main>

<div th:replace="/front/blocks/footer :: footer"></div>
<div th:replace="/front/blocks/scripts"></div>

</body>
</html>



