.hidden {
	display: none;
}


.sidebar-dark-primary {
	background: linear-gradient(to top, #0c606d, #00032d);
}


.table {
	margin-bottom: 0px;
}

.table-bordered {
	margin-bottom: 0px;
}


.bs-list-group-item {
	margin-bottom: 0px;
}

.bs-list-group-item-bottom {
	border-bottom: 0px;
}

.bs-list-group-item-top {
	border-top: 0px;
}

.table-admin-instances {
	/*background: aliceblue;*/
}

.table-admin-instances tr td {
	vertical-align: middle;
}

table thead th {
	border: 0px !important;
}

.sidebar-delimiter-item {
	border-bottom: 1px solid #c0c1c1;
	margin-top: 15px;
	margin-bottom: 15px;
}

.sidebar-delimiter-item1 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 7px;
	color: #dedfe0;
}


.background-overlay {
	background-image: url(/img/blockchain-background-2.jpg);
	/*opacity: .3;*/
	transition: background 0.3s,border-radius 0.3s,opacity 0.3s;
}

.bottom-shadow {
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}