<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">accounts</div>
<div layout:fragment="cardBody">
	<!--/*@thymesVar id="prevPageUrl" type="java.lang.String"*/-->
	<!--/*@thymesVar id="nextPageUrl" type="java.lang.String"*/-->
	<th:block
		th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('accounts', ${prevPageUrl}, ${nextPageUrl}, ~{ :: .tl-inner-headers}, ~{ :: .tl-inner-fields})">
		<tr class="tl-inner-headers">
			<th>id</th>
			<th>логин</th>
			<th>email</th>
			<th>роли</th>
			<th>статус</th>
			<th></th>
		</tr>
		<!--/*@thymesVar id="pageContent" type="java.util.List<com.blockwit.bwf.model.account.Account>"*/-->
		<!--/*@thymesVar id="target" type="com.blockwit.bwf.model.account.Account"*/-->
		<th:block class="tl-inner-fields" th:each="target : ${pageContent}">
			<tr>
				<td th:text="${target.getId()}"></td>
				<td th:text="${target.getLogin()}"></td>
				<td th:text="${target.getEmail()}"></td>
				<td th:text="${target.getRolesHR()}"></td>
				<td
					th:insert="panel/fragments/badges :: accountConfirmationStatusBadge (${target.getConfirmationStatus()})"></td>
				<td></td>
			</tr>
		</th:block>
	</th:block>
</div>
</body>
</html>
