<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/main}">
<head>
</head>
<body>
<div layout:fragment="content">

	<th:block th:insert="panel/fragments/cards :: cardDefault('Edit option', ~{ :: .card-body-edit-option})">
		<div class="row card-body-edit-option">
			<div class="col-12">
				<!--/*@thymesVar id="option" type="com.blockwit.bwf.model.Option"*/-->
				<form th:action="${'/panel/options/option/' + option.getId() + '/update'}" method="POST"
							class="form-vertical"
							role="form"
							th:object="${option}">
					<div class="form-group" id="id_field">
						<label for="id">Id</label>
						<input type="text" id="id" name="id"
									 th:value="*{id}" minlength="0"
									 maxlength="255"
									 required="true"
									 class="form-control">
						<td th:if="${#fields.hasErrors('id')}"
								th:errors="*{id}"></td>
					</div>

					<div class="form-group" id="name_field">
						<label for="name">name</label>
						<input type="text" id="name" name="name"
									 th:value="*{name}" minlength="0"
									 maxlength="255"
									 required="true"
									 class="form-control">
						<td th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}"></td>
					</div>

					<div class="form-group" id="type_field">
						<label for="type">type</label>
						<input type="text" id="type" name="type"
									 th:value="*{type}"
									 minlength="0" maxlength="10"
									 required="true"
									 class="form-control">
						<td th:if="${#fields.hasErrors('type')}"
								th:errors="*{type}"></td>
					</div>

					<div class="form-group" id="value_field">
						<label for="value">value</label>
						<input type="text" id="value" name="value"
									 th:value="*{value}"
									 minlength="0" maxlength="13"
									 required="true"
									 class="form-control">
						<td th:if="${#fields.hasErrors('value')}"
								th:errors="*{value}"></td>
					</div>

					<div class="form-group" id="descr_field">
						<label for="descr">description</label>
						<input type="text" id="descr" name="descr"
									 th:value="*{descr}"
									 minlength="0" maxlength="10"
									 required="true"
									 class="form-control">
						<td th:if="${#fields.hasErrors('descr')}"
								th:errors="*{descr}"></td>
					</div>

					<div class="form-group mt-5">
						<button type="submit" class="btn btn-outline-primary btn-block"> Send
						</button>
					</div>
				</form>

			</div>
		</div>
	</th:block>

</div>
</body>
</html>
