<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{panel/layouts/mainCardLayout}">
<head>
</head>
<body>
<div layout:fragment="cardTitle">permissions</div>
<div layout:fragment="cardBody">
	<th:block
		th:replace="panel/fragments/tables :: unborderedBasicTableWithPag12 ('roles', ${prevPageUrl}, ${nextPageUrl})">
		<tr class="tl-inner-headers">
			<th>id</th>
			<th>название</th>
			<th>описание</th>
		</tr>
		<th:block class="tl-inner-fields" th:each="target : ${pageContent}">
			<tr>
				<td th:text="${target.getId()}"></td>
				<td th:text="${target.getName()}"></td>
				<td></td>
			</tr>
		</th:block>
	</th:block>
</div>
</body>
</html>
