<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/logo.png}" alt="BlockWit" class="navbar-brand-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:replace="/front/blocks/navbar/item :: item(targetName = 'panel', targetUrl = '/panel', menuItemIcon = 'fa-th')"/>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" th:replace="/front/blocks/navbar/item :: item(targetName = 'регистрация', targetUrl = '/app/registration/new', menuItemIcon = 'fa-user-plus')"/>
                <li sec:authorize="!isAuthenticated()" th:replace="/front/blocks/navbar/item :: item(targetName = 'войти', targetUrl = '/app/login', menuItemIcon = 'fa-sign-in-alt')"/>
                <li sec:authorize="isAuthenticated()" th:replace="/front/blocks/navbar/item :: item(targetName = 'выйти', targetUrl = '/app/logout', menuItemIcon = 'fa-sign-out-alt')"/>
            </ul>
        </div>
    </div>
</nav>
